.month {
  width: 100%;
  min-width: 40rem;
}

.heading {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  margin-bottom: 1.5rem;
}

.date h2 {
  font-size: var(--font-size-text);
  color: var(--item-color);
}

.navigate {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.navigateButton {
  border-radius: 0.8rem;
  padding: 0.2rem;
  background-color: var(--bg-color-item);
  cursor: pointer;
}

.navigateButton .icon {
  font-size: 2.5rem;
  color: var(--main-color);
}

.weekdays {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
}

.weekday {
  width: calc(100% / 7);
  font-size: var(--font-size-text);
  color: var(--item-color);
  text-align: center;
}

/* ---- month day */
.monthdays {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: clamp(6rem, 4.5vw, 14rem);
}

.dayMonthBox {
  width: calc(100% / 7);
  text-align: center;
  font-size: var(--font-size-text);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: initial;
  flex-direction: column;
  /* height: clamp(10rem, 4.5vw, 14rem); */
  /* height: 7rem; */
}

.paddingDayMonth {
  color: var(--item-color-desabled);
}

.dayMonth {
  color: var(--text-color);
  cursor: pointer;
}

.day--current {
  background-color: var(--main-color);
  border-radius: 0.8rem;
  color: var(--text-color-neutral);
  padding: 0.3rem;
  text-align: center;
}

.eventsPerDay {
  background-color: var(--main-color-400);
  color: var(--text-color-neutral);
  font-size: 1.2rem;
  border-radius: 0.2rem;
  margin-top: 0.3rem;
  text-align: center;
  width: 50%;
}

@media (max-width: 60rem) {
  .month {
    min-width: auto;
  }
}
