.list {
  columns: 25rem 3;
  align-items: initial;
  justify-content: flex-start;
  column-fill: balance;
  margin-top: 5rem;
}

.box {
  max-height: fit-content;
  break-inside: avoid;
  break-after: left;
  page-break-inside: avoid;
}

.noEvent h3 {
  color: var(--item-color-desabled);
  text-align: center;
  font-size: var(--font-size-text);
}
