/* menu icon */

.items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.menu {
  cursor: pointer;
  max-height: max-content;
  max-width: max-content;
  border-radius: 0.8rem;
  position: relative;
}

.menu:active {
  background-color: var(--bg-color-item);
}

.menu .menuIcon {
  font-size: clamp(2.5rem, 3.5vw, 3rem);
  color: var(--item-color);
}
.menu .menuIcon:hover {
  color: var(--item-color-active);
}

.menuList {
  position: absolute;
  top: 5.5rem;
  right: 0;
  list-style: none;
  background-color: var(--bg-color-main);
  box-shadow: 0 0 1rem -0.5rem;
  padding: 1rem;
  border-radius: 0.8rem;
  display: none;
  flex-direction: row;
  gap: 1.2rem;
  overflow: hidden;
  z-index: 9999;
}

.menuList.menuList--open {
  display: flex;
}

.menuItem {
  font-size: var(--font-size-text-small);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 0.5rem;
  color: var(--item-color);
}

.menuItem:hover {
  color: var(--item-color);
}

.menuItem .menuItem__icon {
  color: var(--item-color);
  font-size: var(--font-size-text-small);
  transition: all 0.5s;
}

.menuItem:hover .menuItem__icon {
  color: var(--main-color);
}

@media (max-width: 60rem) {
  .menuList {
    flex-direction: row;
    right: 0;
    top: -6.8rem;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }
}
