/*------ home page styles ----- */
.container {
  display: flex;
  padding-top: 4rem;
  min-height: 102vh;
  column-gap: 4rem;
}

@media (max-width: 60rem) {
  .container {
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    flex-direction: column;
  }
}

/* @media (max-width: 60rem) {
  .home-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
} */
