.container {
  height: auto;
  width: 100%;
  max-width: 30rem;
}

.addEvent {
  position: relative;
  cursor: pointer;
}

.addEvent__input {
  font-size: var(--font-size-text);
  background-color: var(--bg-color-item);
  padding: 1rem;
  border-radius: 0.8rem;
  color: var(--text-color);
}
.addEvent__button {
  background-color: var(--main-color);
  display: block;
  color: var(--text-color);
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  right: 0;
  height: 100%;
  border-radius: 0 0.8rem 0.8rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
}

.addEvent__button .addEvent__icon {
  font-size: 2.5rem;
  color: var(--text-color-neutral);
}

.recentEvent {
  margin-top: 4rem;
}

.heading {
  margin-bottom: 1rem;
}
.heading h3 {
  font-size: var(--font-size-heading);
  color: var(--item-color);
}

.noEvent {
  text-align: center;
  padding-top: 2rem;
}

.noEvent h4 {
  color: var(--item-color-desabled);
  font-size: clamp(1.2rem, 3.5vw, 1.4rem);
  font-weight: 500;
  margin-top: 6rem;
}

.list {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));
  /* flex-direction: column; */
  column-gap: 2rem;
}

@media (max-width: 60rem) {
  .addEvent {
    display: none;
  }

  .container {
    max-width: 100%;
  }

  .list {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));

    /* flex-wrap: wrap;
    flex-direction: row; */
  }
}
