.container {
  margin-top: 4rem;
}

.heading {
  font-size: var(--font-size-title);
  color: var(--title-color);
  margin-bottom: 1rem;
  font-weight: 600;
}

.trashList {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.trash {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  padding-left: 1.2rem;
}

.trash::after {
  content: "";
  background-color: var(--main-color);
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 0.5rem;
  position: absolute;
}

.info {
  display: flex;
  gap: 0.8rem;
  max-width: 60rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.title {
  font-size: var(--font-size-item);
  color: var(--item-color);
}

.date {
  font-size: var(--font-size-text-small);
  color: var(--text-color);
}

.icons {
  display: flex;
  column-gap: 2rem;
  margin-left: 5rem;
}

.deleteIcon,
.recoverIcon {
  padding: 0.2rem;
  cursor: pointer;
}
.deleteIcon .icon,
.recoverIcon .icon {
  font-size: var(--font-size-icon);
  color: var(--item-color);
}

.deleteIcon:hover .icon,
.recoverIcon:hover .icon {
  color: var(--main-color);
  transform: scale(1.05);
  transition: all 0.5s;
}

.noTrash h3 {
  color: var(--item-color-desabled);
  font-size: var(--font-size-text);
  text-align: center;
  margin-top: 5rem;
  margin-left: 3rem;
}

@media (max-width: 40rem) {
  .icons {
    margin-left: 1rem;
  }

  .info {
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;
  }
}
