.event {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 1.5rem;
  cursor: pointer;
  padding: 1.2rem 0;
  padding-left: 2.2rem;
  position: relative;
  margin-bottom: 1rem;
  box-shadow: 0.1rem 0.1rem 0.7rem -0.6rem;
  border-radius: 0.8rem;
  width: 100%;
}

.event::before {
  content: "";
  position: absolute;
  height: 1.5rem;
  width: 0.6rem;
  left: 0.8rem;
  top: 2.4rem;
  transform: translatey(-50%);
  border-radius: 0.8rem;
  overflow: hidden;
  transition: all 0.5s;
  background-color: var(--main-color);
}

/* .event.border-color--pending::before {
  background-color: var(--status-text-pending);
}
.event.border-color--canceled::before {
  background-color: var(--status-text-canceled);
}
.event.border-color--completed::before {
  background-color: var(--status-text-completed);
} */

/* .event--clicked.event::before {
  height: 100%;
} */

.event.event--clicked {
  background-color: var(--bg-color-item-selected);
  border-radius: 0.8rem;
}

.info {
  align-self: self-start;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  width: auto;
}

.title {
  font-size: var(--font-size-item);
  color: var(--item-color);
  width: 100%;
  font-weight: 500;
}

.date {
  font-size: var(--font-size-text-small);
  color: var(--text-color-secundary);
}

.status--pending {
  color: var(--status-text-pending);
  background-color: var(--status-bg-pending);
  height: max-content;
  padding: 0.6rem 0.5rem;
  border-radius: 1rem;
  font-size: var(--font-size-text-small);
}

.status--completed {
  color: var(--status-text-completed);
  background-color: var(--status-bg-completed);
  height: max-content;
  padding: 0.6rem 0.5rem;
  border-radius: 1rem;
  font-size: var(--font-size-text-small);
}

.status--canceled {
  color: var(--status-text-canceled);

  background-color: var(--status-bg-canceled);
  height: max-content;
  padding: 0.6rem 0.5rem;
  border-radius: 1rem;
  font-size: var(--font-size-text-small);
}

.items {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 60rem) {
  /* .event {
  } */
}
